@media (max-width: 767px) {
  #detail-panel {
    display: block !important;
    padding-top: 0;

    #utility-bar {
      margin: 0 -20px 20px -20px;

      li#more-actions-container {
        margin-right: 16px;

        .utility-btn {
          width: 45px;
          padding: 20px 0 0 20px;
        }

        #more-actions-menu {
          top: 33px;
          left: 0;

          .action-cancel,
          .action-toggle-screen,
          .action-print {
            display: none;
          }

          .action-edit {
            margin: 10px 0 20px 0;
          }
        }
      }

      > li:last-child {
        .utility-btn {
          width: 45px;
          padding: 20px 20px 0 0;
        }
      }
    }

    #title-input,
    #url-input,
    #tags li#new-tag #new-tag-input,
    #description #editor {
      font-size: 16px;
    }

    .recipe-image-container {
      .recipe-image-overlay {
        .recipe-image-overlay-text {
          padding: 0;
          margin: 0;

          .recipe-image-overlay-text-drag,
          .recipe-image-overlay-text-prefer {
            display: none;
          }
        }

        #image-input-btn {
          margin-top: 126px;
          box-shadow: 2px 3px 5px 1px rgba(128, 128, 128, 0.35);
        }
      }
    }
  }
}