@media (max-width: 767px) {
  #detail-panel {
    #utility-bar {
      li#more-actions-container {
        margin-right: 16px;

        #more-actions-menu {
          top: 33px;
          left: 0;

          .action-cancel,
          .action-toggle-screen,
          .action-print {
            display: none;
          }

          .action-edit {
            margin: 10px 0 20px 0;
          }
        }
      }
    }
  }
}