@media (max-width: 767px) {
  #detail-panel {
    display: block !important;
    padding-top: 0;

    #utility-bar {
      margin: 0 -20px 20px -20px;
      padding-bottom: 0;

      li#more-actions-container {
        margin-right: 0;
        height: auto;
        width: auto;

        .utility-btn {
          width: 45px;
          padding: 20px 0 6px 20px;

          .icon--dots {
            left: -13px;
          }
        }

        #more-actions-menu {
          top: 46px;
          left: 25px;

          .action-cancel,
          .action-toggle-screen,
          .action-print {
            display: none;
          }

          .action-edit {
            margin: 10px 0 20px 0;
          }
        }
      }

      > li:last-child {
        height: auto;
        width: auto;

        .utility-btn {
          width: 45px;
          padding: 20px 20px 0 0;

          .icon--close {
            right: -15px;
          }
        }
      }
    }

    #title-input,
    #url-input,
    #tags li#new-tag #new-tag-input,
    #description #editor {
      font-size: 16px;
    }

    .recipe-image-container {
      .recipe-image-overlay {
        .recipe-image-overlay-text {
          padding: 0;
          margin: 0;

          .recipe-image-overlay-text-drag,
          .recipe-image-overlay-text-prefer {
            display: none;
          }
        }

        #image-input-btn {
          margin-top: 126px;
          box-shadow: 2px 3px 5px 1px rgba(128, 128, 128, 0.35);
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .utility-tooltip {
    display: none !important;
  }
}