@media (max-width: 767px) {
  .home {
    header {
      padding: 0;
      overflow: visible;

      .header-logo {
        justify-content: left;
        padding-left: 14px;
      }

      .burger-menu {
        display: inline-block;

        .icon--burger {
          svg {
            padding: 5px 14px 0 0;
            height: 40px;
            width: 40px;
            fill: #fff;
          }
        }
      }

      nav {
        opacity: 0;
        visibility: hidden;
        transition: 150ms;
        text-align: left;
        display: block;
        position: absolute;
        z-index: 5;
        box-sizing: border-box;
        padding: 30px 0 30px 10%;
        background-color: #fff;
        left: 30%;
        right: 6px;
        top: 8px;
        border-radius: 6px;
        box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);

        &.open {
          opacity: 1;
          visibility: visible;
        }

        .nav-close {
          display: block;
          position: absolute;
          z-index: 6;
          top: 10px;
          right: 10px;

          .icon--close {
            height: 28px;
            width: 28px;
          }
        }

        .nav-item {
          a {
            color: #6772e5;;
            font-size: 18px;
            padding: 10px;
            display: block;
          }
        }
      }
    }

    .title-wrapper {
      padding: 0 20px;

      .center-logo {
        display: none;
      }
      
      .headline {
        padding-top: 40px;
        font-size: 24px;
        line-height: 30px;
      }
    }

    .hero-wrapper {
      padding-bottom: 40px;

      .hero {
        .hero-benefits {
          padding: 30px 0 0 0;

          .hero-benefits-top {
            margin-bottom: 5px;

            #hero-image {
              height: 450px;
              width: 100%;
              background-image: url(../assets/mobile-hero.png);
              background-size: 75%;
              background-repeat: no-repeat;
              background-position: top center;
              box-shadow: 0px -20px 10px 7px #f6f9fc inset;
            }
          }
        }

        .ctas {
          display: flex;
          justify-content: space-around;

          .main-cta {
            padding: 15px 20px;
            background-image: none;
          }
        }
      }
    }

    .white-boxes {
      .white-box {
        grid-column: 1/3;
        border: none !important;
        padding: 20px 0 40px 0;
        text-align: center;

        &:first-child {
          padding-bottom: 0;
        }

        .white-box-text {
          font-size: 15px;
        }
      }

      .plans {
        padding-top: 0;
        padding-bottom: 40px;

        .plans-headline {
          font-size: 32px;
        }

        .plans-subheadline {
          line-height: 30px;
        }

        .plan {
          grid-template-columns: 1fr;
          padding: 20px;

          &.lite .plan-left .plan-title {
            padding-left: 62px;
          }

          .plan-left {
            border-right: none;
            text-align: center;
            
            .plan-title {
              padding-left: 66px;
              margin-top: 12px;
              margin-bottom: 27px;
              display: inline-block;

              &::before {
                left: 0;
              }
            }

            .plan-subtitle {
              line-height: 25px;
              margin-bottom: 20px;
            }

            .plan-benefits {
              grid-template-columns: 1fr;

              li {
                padding-left: 30px;
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 24px;
                text-align: left;

                &:nth-child(3),
                &:nth-child(4) {
                  margin-bottom: 24px;
                }
              }
            }
          }

          .plan-right {
            padding: 0;
            text-align: center;
            padding-top: 20px;
            border-top: solid 1px #e6ebf1;

            .plan-cta {
              font-size: 16px;
            }
          }
        }
      }

      .kitchen-image-section {
        margin-bottom: 20px;
        overflow: hidden;
        background-image: url(../assets/kitchen-girl-mobile.jpg);
        background-position-x: 0;
        height: auto;
        max-height: 390px;

        blockquote {
          max-width: 100%;
          padding: 40px;

          &::before {
            opacity: 0.8;
            right: 0;
          }

          &::after {
            content: none;
          }

          p {
            font-size: 18px;
          }
        }
      }

      .integrations {
        display: block;
        padding: 20px 0 0 0;


        h2 {
          line-height: 30px;
          position: static;
        }

        ul {
          margin-top: 20px;

          li {
            display: block;
            margin-bottom: 12px;

            &:nth-child(3) {
              img {
                width: 18%;
              }
            }

            img {
              width: 50%;
            }
          }
        }
      }
    }

    .horizontal-box-section {
      .horizontal-box {
        background-size: 70px 70px;
        background-position: 28px center;
        padding: 20px 20px 20px 123px;
      }
    }

    footer {
      text-align: center;

      #footer-inner {
        #footer-left {
          width: 100%;
          text-align: center;

          #footer-logo {
            width: auto;
            display: inline-block;
            float: none;
            margin-bottom: 40px;
          }

          #footer-social {
            margin-bottom: 20px;
          }
        }

        #footer-right {
          float: none;

          #footer-right-cta-title {
            line-height: 25px;
            font-size: 16px;
          }

          #footer-links-section {
            .footer-links {
              a {
                font-size: 14px;
              }
              
              li:nth-child(2),
              li:nth-child(2) {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      #copyright {
        padding: 10px 20px;

        #copyright-inner {
          font-size: 14px;
          text-align: left;
          height: auto;
          line-height: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 953px) {
  .home .hero-wrapper .hero .hero-benefits .hero-benefits-top #hero-image {
    background-position: top left;
  }
}