@media (max-width: 767px) {
  #list-panel {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    overflow-y: scroll;

    &.full-width {
      .list-panel-body.image-layout {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
      }
    }

    .list-panel-body.image-layout {
      .recipe-entry {
        a {
          .recipe-entry-right {
            top: 6px;
          }
        }
      }
    }

    #heading-and-sort {
      z-index: 5;
      padding: 10px 10px 0 10px;

      #list-panel-heading {
        font-size: 20px;
        top: 8px;
      }

      #sort-options {
        width: 114px;
        padding: 0;

        li {
          padding: 10px;
          border-top: solid 1px #eee;

          &:first-child {
            border-top: none;
          }
        }
      }
    }

    #tag-color-menu {
      top: 82px;
    }

    .recipe-entry {
      a {
        padding: 5px 0;
        font-size: 15px;

        .recipe-entry-right {
          font-size: 12px;
          padding-left: 26px;
        }
      }
    }
  }
}

