@media (max-width: 767px) {
  #list-panel {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;

    #heading-and-sort {
      z-index: 5;
    }

    .recipe-entry {
      a {
        padding: 5px 0;
      }
    }
  }
}

