@media (max-width: 767px) {
  #panels {
    height: calc(100% - 61px);
    padding: 10px 10px 0 10px;

    #list-panel {
      .list-panel-body {
        padding: 10px 10px 0 10px;
        max-height: calc(100% - 55px);
      }
    }

    #detail-panel {
      position: absolute;
      z-index: 10;
      width: 100%;
      max-width: none;
      top: 50px;
      left: 0;
      border-radius: 0;
      height: calc(100% - 50px);
    }
  }
}