@media (max-width: 767px) {

  #side-nav {
    display: block !important;
    width: 78%;
    top: 0;
    height: 100%;
    position: absolute;
    padding: 0 0 100% 0;
    z-index: 20;
    left: 0;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.88);
    left: -100%;
    transition: 300ms;

    &.open {
      left: 0;
    }


    .side-nav-logo {
      padding: 10px 15px;

      .side-nav-logo-text {
        font-size: 20px;
      }
    }

    #add-recipe {
      margin: 20px 20px 40px 20px;
      border-radius: 30px;
      padding: 14px;
      text-align: center;
      font-size: 18px;
      background-image: none;
    }

    #side-nav-menu {

      li.mobile.account,
      li.mobile.logout {
        display: block;
        border-top: solid 1px #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
      }

      li.mobile.logout {
        bottom: 55px;
      }

      > li {
        > a {
          padding: 11px;
          margin-bottom: 0;
          border-bottom: solid 1px #eee;

          &:hover {
            background-color: rgba(178, 195, 213, 0.26);
          }

          &.active {
            background-color: #b2c3d5;
            color: #000;

            img {
              filter: invert(100%);
            }
          }
        }
      }

      li#side-nav-menu-tags > a svg {
        transform: rotate(270deg) !important;
      }

      #tag-list-container {
        position: static;
        max-height: 100vh;
        height: 100vh;
        position: absolute;
        z-index: 25;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        left: -100%;
        transition: 300ms;
        display: block;
        padding-left: 0;

        .mobile.back-arrow {
          display: inline-block;
          position: absolute;
          top: 33px;
          padding-right: 20px;
          z-index: 5;
          left: 20px;
          
          svg {
            fill: #5c5a5a;
            height: 20px;
            width: 20px;
            transform: rotate(90deg);
          }
        }

        &.open {
          left: 0;
        }

        #tag-list {
          position: relative;
          width: 100%;
          text-align: center;
          padding: 90px 20px 20px 20px;
          box-sizing: border-box;
          grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
          grid-gap: 8px;
          columns: 2;

          .tag {
            margin: 0 0 8px 0;
            line-height: 20px;

            &:first-child {
              &::before {
                content: 'Tags';
                font-family: 'Merriweather', serif;
                display: block;
                color: #000;
                font-size: 24px;
                text-align: center;
                padding: 30px 26px 20px 26px;
                width: 100%;
                position: absolute;
                top: 0;
                left: -4px;
                box-sizing: border-box;
              }
            }

            a {
              padding: 10px;
              border-radius: 30px;
              font-size: 13px;
              margin: 0;
            }
          }
        }
      }
    }

    .srf-section {
      display: none;
    }
  }
}

@media (max-height: 460px) {
  #side-nav {
    #add-recipe {
      margin-bottom: 20px;
    }

    #side-nav-menu>li>a {
      padding: 5px 11px;
    }
  }
}